body {
  background-color: #8bac0f;
    font-size: 10px;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
}

h1 {
    font-size: 40px;
}

.grid-view {
  border-style: solid;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.pokemon {
  justify-content: center;
  text-align: center;
}
