@font-face {
  font-family: 'pokemon-font';
  src: url('./fonts/pokemon-font.eot'); /* IE9 Compat Modes */
  src: url('./fonts/pokemon-font.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/pokemon-font.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/pokemon-font.ttf')  format('truetype') /* Safari, Android, iOS */
  /* There is no SVG version of this font due to support being dropped in SVG 2 */
}


body {
  background-color: #8bac0f;
    font-smooth: never;
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
}

p {
  font-family: 'pokemon-font', monospace;
  font-size: 10px;
}
h3 {
  font-family: 'pokemon-font', monospace;
  font-size: 20px;
}

h2 {
  font-family: 'pokemon-font', monospace;
  font-size: 30px;
}

h1 {
    font-family: 'pokemon-font', monospace;
    font-size: 40px;
}

.header {
  text-align: center;
}

.selected {
  text-align: center;
  justify-content: center;
}

.grid-view {
  border-style: solid;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.pokemon {
  justify-content: center;
  text-align: center;
}
